@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <button asp-page-handler="Register">Register Now</button>
    <button asp-page-handler="Requestinfo">Request Info</button>
</form>
<p>nguyen</p>